/* overrides/extra.css */

.highlight {
    font-style: italic;
}

/* console output */
.highlight .go {
    color: black;
    font-weight: bold;
    font-style: normal;
}

/* console  prompt */
.highlight .gp {
    color: blue;
    font-weight: bold;
    font-style: normal;
}

/* this style used for unix shell keywords */
.highlight .nb {
    color: black;
}



